body {
    align-items: center;
    display: flex;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16pt;
    flex-direction: column;
    justify-content: center;
}

li {
    list-style: none;
}

.home-page, .zine-print-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.home-page {
    margin-top: 20px;
}

.special-abilities-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

@media screen and (max-width: 650px) {
    .home-page, .zine-print-page, .special-abilities-page {
        width: 90%;
    }
}

.header-image {
    width: 70%;
}

.bottom-image {
    width: 70%;
}

a, .bluelink {
    color: #06a;
    cursor: pointer;
}

a:hover, .bluelink:hover {
    color: #48f;
}

.character-creator {
    width: 60%;
}

.background-choice > li {
    margin: 24px;
}

.background-choice > li > b {
    text-decoration: underline;
}

.header-bar {
    width: 50%;
}

.subclasses-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subclasses-choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subclass-choice {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 12px;
}

.subclass-choice:hover {
    background: #eee;
}

.subclass-choice > img {
    height: 400px;
    width: auto;
}

.special-abilities-list > li {
    margin: 30px;
}

.special-abilities-input {
    border: 2px solid #333;
    border-radius: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16pt;
    padding: 8px;
}

.nondisplay {
    display: none;
}
